<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button type="button" onclick="deleteUser()">회원탈퇴</button>

    <script>
        const token = localStorage.getItem("isLogin")
        const kakaotoken = localStorage.getItem("kakaoToken")
        function deleteUser() {
            //일반 로그인
            if (token !== null) {

            }
            //카카오 로그인
            if (kakaotoken !== null) {

            }
        }
    </script>
</body>

</html>