<!-- footer css -->
<link rel="stylesheet" href="footer.css" />

<!-- footer -->
<footer>
    <section class="footer-section-1">
        <div style="font-size: 30px; margin-bottom: 5px; background-color: skyblue; display: inline-block">LOGO</div>
        <div>상호명 : S.T.E.P ( Steering Toward Euphoria and Paradise )</div>
        <div>연락처 : 00-000-0000 | 이메일 : STEP@gmail.com</div>
        <div>주소 : 서울 마포구 숭문4길 6</div>
        <hr />
        <div>Copyrightⓒ | NavyBlueSky, keeemhs, transfact, kimda-bin</div>
    </section>
    <section class="footer-section-2">
        <a href="">SHOP</a><br />
        <a href="">CONTACT</a><br />
        <a href="">ABOUT</a><br /><br />
        <a href="">
            <i style="font-size: 24px" class="fa">&#xf16d;</i>
        </a>
        &nbsp;&nbsp;
        <a href="">
            <i style="font-size: 24px" class="fa">&#xf09a;</i>
        </a>
        &nbsp;&nbsp;
        <a href="https://github.com/transfact/carCampingProject">
            <i style="font-size: 24px" class="fa">&#xf09b;</i>
        </a>
    </section>
</footer>
