<!DOCTYPE html>
<html lang="KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>Main Page</title>
        <style>
            .regist {
                text-align: center;
            }
            .main {
                height: 300px;
            }
        </style>
    </head>
    <body>
        <!-- header -->
        <%-include('header.ejs')%>

        <section class="main" style="margin-top: 100px">
            <!-- logo -->
            <img src="" alt="" />
            <h2>제품 등록하기</h2>
            <form onsubmit="fileupload(event)" name="gearEdit">
                <input name="gearTitle" type="text" placeholder="제품명" /><br />
                <input name="gearExplain" type="text" placeholder="제품설명" /><br />
                <br />
                <input type="file" name="dynamic_files" multiple />
                <br />
                <button>제출</button>
            </form>
        </section>

        <!-- Footer -->
        <%-include('footer.ejs')%>
    </body>

    <script>
        async function fileupload(event) {
            event.preventDefault();
            const form = document.forms['gearEdit'];
            const gearTitle = form.gearTitle.value;
            const gearExplain = form.gearExplain.value;

            const files = form.dynamic_files.files;
            console.log(files);
            //이미지들 url 만들기
            const formData2 = new FormData();

            for (let i = 0; i < files.length; i++) {
                formData2.append(`gearTitle`, gearTitle);
                formData2.append(`gearExplain`, gearExplain);
                formData2.append(`array_file`, files[i]);
            }

            const result1 = await axios({
                url: '/gear/singleAxios',
                method: 'POST',
                data: formData2,
                Headers: {
                    'Content-Type': 'multipart/form-data',
                },
            });
            console.log(result1.data.gearid);
        }
    </script>
</html>
