<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>STEP</title>
        <link rel="stylesheet" href="introCC.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    </head>
    <body>
        <!-- header -->
        <%-include('header.ejs')%>
        <section class="recomMain" id="recomMain">
            <div class="content">
                <div class="text">
                    <h1>소개 및 가이드</h1>
                    <p>
                        직접 운전석에 여정을 떠나는 길은 항상 가슴 떨리는 일입니다. <br />
                        "행복과 낙원을 향한 여정" <br />
                        본 사이트의 상호명인 STEP의 뜻입니다. <br />
                        우리의 마음을 소개드립니다.
                    </p>
                </div>
            </div>
        </section>
        <section class="about" id="about">
            <div class="content">
                <div class="title"><span>"차와 함께 여행하는 즐거움"</span></div>
                <div class="about-details">
                    <div class="left">
                        <img src="about.jpg" alt="" />
                    </div>
                    <div class="right">
                        <div class="topic">소개 멘트</div>
                        <p>
                            자동차라는 이동수단은 누군가에게는 그저 이동수단으로서 여겨지기도 하지만 또 누군가에게는
                            아늑하고 독립적인 공간, 행복에 다가가는 매개체가 되기도 합니다. 그리고 저희는 여행메이트가
                            되는 분들에게 저희의 서비스를 제공합니다.
                        </p>
                        <div class="button">
                            <button>차량 가이드 바로가기</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="guide" id="guide">
            <div class="content">
                <div class="title"><span>입문 가이드</span></div>
                <div class="guideMore">
                    <div class="text">
                        <div class="topic">입문~~~~~</div>
                        <p>
                            입문 멘트~~~~입문 멘트~~~~입문 멘트~~~~입문 멘트~~~~입문 멘트~~~~입문 멘트~~~~입문
                            멘트~~~~입문 멘트~~~~
                        </p>
                    </div>
                    <div class="boxes">
                        <div class="box">
                            <div class="topic">통계</div>
                            <div class="per">통계%</div>
                        </div>
                        <div class="box">
                            <div class="topic">통계</div>
                            <div class="per">통계%</div>
                        </div>
                        <div class="box">
                            <div class="topic">통계</div>
                            <div class="per">통계%</div>
                        </div>
                        <div class="box">
                            <div class="topic">통계</div>
                            <div class="per">통계%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="services" id="services">
            <div class="content">
                <div class="title"><span>서비스 목록</span></div>
                <div class="boxes">
                    <div class="box">
                        <div class="icon"></div>
                        <div class="topic">갤러리</div>
                        <p>다녀온 후기를 사진과 머시기~~~~~~~후기~~~~입니다~~~</p>
                    </div>
                    <div class="box">
                        <div class="icon"></div>
                        <div class="topic">갤러리</div>
                        <p>다녀온 후기를 사진과 머시기~~~~~~~후기~~~~입니다~~~</p>
                    </div>
                    <div class="box">
                        <div class="icon"></div>
                        <div class="topic">갤러리</div>
                        <p>다녀온 후기를 사진과 머시기~~~~~~~후기~~~~입니다~~~</p>
                    </div>
                    <div class="box">
                        <div class="icon"></div>
                        <div class="topic">갤러리</div>
                        <p>다녀온 후기를 사진과 머시기~~~~~~~후기~~~~입니다~~~</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">
            <div class="content">
                <div class="title"><span>문의</span></div>
                <div class="text">
                    <div class="topic">궁금한 점이 있으신가요?</div>
                    <p>
                        저희가 가장 많이 많은 질문들을 정리해두었습니다. 질문 리스트에 원하는 항목이 없다면 이메일로
                        문의 주시면 바로 답변드리겠습니다.
                    </p>
                    <div class="button">
                        <button>문의 페이지 바로가기</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer -->
        <%-include('footer.ejs')%>
    </body>
</html>
