<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../recomCar.css" />
    </head>
    <body>
        <!-- Header -->
        <%-include('header.ejs')%>

        <!-- ================= section about ================ -->
        <br />
        <br />
        <br />
        <section class="about" id="about">
            <h2 id="aboutH2">당신의 차박 스타일은?</h2>
            <p>유형에 따른 당신의 차박 스타일을 찾고 그에 맞는 차량을 추천 받으세요!</p>
            <p>차박&차크닉을 시작하고 싶은 여러분들을 위해 STEP이 제시하는 차량 선택 가이드!</p>
            <p>※ 차량 선택은 개인의 취향이 강하게 반영되는 영역입니다. 따라서 형태만 추천드립니다.</p>
            <div class="row carInfo">
                <div class="category">
                    <img src="../cate1.jpg" alt="img" />
                </div>
                <ul>
                    <h3>유형1 - 입문하는 초심자</h3>
                    <br />
                    <li>차박에 입문하시는 분</li>
                    <br />
                    <li>차박까지는 아니고 분위기만 즐기며 차크닉을 원하는 분</li>
                    <br />
                    <li>1인 차박을 하시는 분</li>
                    <br />
                    <li>아직은 드라이브에 초점을 맞춘 분</li>
                    <br />
                    <a id="aboutA" href="#carRecom1">차량 추천 바로가기</a>
                </ul>
            </div>

            <div class="row carInfo">
                <div class="category">
                    <img src="../cate2.jpg" alt="img" />
                </div>

                <ul>
                    <h3>유형2 - 차박이 취미가 된 경험자</h3>
                    <br />
                    <li>차박이 일상으로 자리잡은 분</li>
                    <br />
                    <li>일상 영역과 여행을 아우르는 최고의 선택을 하려는 분</li>
                    <br />
                    <a id="aboutA" href="#carRecom2">차량 추천 바로가기</a>
                </ul>
            </div>

            <div class="row carInfo">
                <div class="category">
                    <img src="../cate3.jpg" alt="img" />
                </div>

                <ul>
                    <h3>유형3 - 차박 매니아</h3>
                    <br />
                    <li>크고 편안한 공간을 원하고 차박을 자주하시는 분</li>
                    <br />
                    <li>카텐트 설치도 염두하시는 분</li>
                    <br />
                    <li>트렁크을 열고 큰공간을 확보 가능</li>
                    <br />
                    <a id="aboutA" href="#carRecom3">차량 추천 바로가기</a>
                </ul>
            </div>

            <div class="row carInfo">
                <div class="category">
                    <img src="../cate4.jpg" alt="img" />
                </div>

                <ul>
                    <h3>유형4 - 비포장도로도 고려하는 개척자</h3>
                    <br />
                    <li>오프로드 주행과 견인력을 고려하시는 분</li>
                    <br />
                    <li>여러 차박 스팟을 다니며 험로 주파에 즐거움을 느끼는 분</li>
                    <br />
                    <a id="aboutA" href="#carRecom4">차량 추천 바로가기</a>
                </ul>
            </div>
        </section>

        <!-- ======================section - recommend category car======================= -->

        <br />
        <section class="carRecom" id="carRecom1">
            <br />
            <h2 id="aboutH2">유형1 - 입문하는 초심자</h2>
            <p>
                잠은 자지 않고 드라이브이후 하나의 스팟에서 차로 즐기는 피크닉의 감성을 알아가는 기본적인 형태입니다.
                <br />이 경우에는 차량이 드라이브에 적합한지를 우선적으로 고려하는 것이 좋습니다.
            </p>
            <div id="categoryDiv1">
                <a id="carRecomA" href="#about">유형 선택으로 돌아가기</a>
            </div>
            <div id="categoryDiv2">
                <ul class="cards">
                    <li class="card">
                        <img src="../1cate1.jpg" alt="img" />
                        <h5>해치백</h5>
                    </li>
                    <li class="card">
                        <img src="../1cate2.jpg" alt="img" />
                        <h5>쿠페</h5>
                    </li>
                    <li class="card">
                        <img src="../1cate3.jpg" alt="img" />
                        <h5>소형 SUV</h5>
                    </li>
                </ul>
            </div>
        </section>
        <section class="carRecom" id="carRecom2">
            <br />
            <h2 id="aboutH2">유형2 - 차박이 취미가 된 경험자</h2>
            <p>
                차박이 일상으로 자리잡았다면 확신을 갖고 차량을 고를 수 있을 것이라고 생각합니다. <br />일상 영역과
                여행을 아우르는 최고의 선택은 무엇일까요?
            </p>
            <br />
            <div id="categoryDiv1">
                <a id="carRecomA" href="#about">유형 선택으로 돌아가기</a>
            </div>

            <div id="categoryDiv2">
                <ul class="cards">
                    <li class="card">
                        <img src="../2cate1.jpg" alt="img" />
                        <h5>패스트 백 세단</h5>
                    </li>
                    <li class="card">
                        <img src="../2cate2.jpg" alt="img" />
                        <h5>중형 SUV</h5>
                    </li>
                    <li class="card">
                        <img src="../2cate3.jpg" alt="img" />
                        <h5>준중형 왜건</h5>
                    </li>
                </ul>
            </div>
        </section>
        <section class="carRecom" id="carRecom3">
            <br />
            <h2 id="aboutH2">유형3 - 차박 매니아</h2>
            <p>
                이 유형의 분들은 카텐트 설치도 염두하시는 분들이 많습니다. <br />트렁크을 열고 큰공간을 확보할 수 있는
                차량들이 적합합니다.
            </p>
            <br />
            <div id="categoryDiv1">
                <a id="carRecomA" href="#about">유형 선택으로 돌아가기</a>
            </div>

            <div id="categoryDiv2">
                <ul class="cards">
                    <li class="card">
                        <img src="../3cate1.jpg" alt="img" />
                        <h5>RV 승합차</h5>
                    </li>
                    <li class="card">
                        <img src="../3cate2.jpg" alt="img" />
                        <h5>대형 SUV</h5>
                    </li>
                    <li class="card">
                        <img src="../3cate3.jpg" alt="img" />
                        <h5>중형, 대형 왜건</h5>
                    </li>
                </ul>
            </div>
        </section>
        <section class="carRecom" id="carRecom4">
            <br />
            <h2 id="aboutH2">유형4 - 비포장도로도 고려하는 개척자</h2>
            <p>
                차박 스팟중에는 약간의 험로를 거치는 곳도 많습니다. <br />여러 차박 스팟을 다니며 험로 주파에 즐거움을
                느끼는 분들에게는 이 유형의 차들을 추천드립니다.
            </p>
            <br />
            <div id="categoryDiv1">
                <a id="carRecomA" href="#about">유형 선택으로 돌아가기</a>
            </div>

            <div id="categoryDiv2">
                <ul class="cards">
                    <li class="card">
                        <img src="../4cate1.jpg" alt="img" />
                        <h5>오프로드 SUV</h5>
                    </li>
                    <li class="card">
                        <img src="../4cate2.jpg" alt="img" />
                        <h5>오프로드 왜건</h5>
                    </li>
                    <li class="card">
                        <img src="../4cate3.jpg" alt="img" />
                        <h5>픽업 트럭</h5>
                    </li>
                </ul>
            </div>
        </section>
    </body>
</html>
