<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../recomCar.css" />
    </head>
    <body>
        <!-- Header -->
        <%-include('header.ejs')%>

        <section class="recomMain" id="recomMain">
            <div class="content">
                <div class="text">
                    <h1>차량 소개 가이드</h1>
                    <p>
                        가이드 소개 멘트 <br />
                        차량 소개멘트.
                    </p>
                </div>
                <a href="#about">차량 추천 바로가기</a>
            </div>
        </section>

        <section class="about" id="about">
            <h2>당신의 차박 스타일은?</h2>
            <p>유형에 따른 당신의 차박 스타일을 찾고 그에 맞는 차량을 추천 받으세요!</p>
            <div class="row carInfo">
                <div class="category">
                    <img src="../tents.jpg" alt="img" />
                </div>

                <ul>
                    <h3>입문자 혹은</h3>
                    <br />
                    <li>차박에 입문하시는 분</li>
                    <br />
                    <li>차박까지는 아니고 분위기만 즐기며 차크닉을 원하는 분</li>
                    <br />
                    <li>1인 차박을 하시는 분</li>
                    <br />
                    <a href="#carRecom1">차량 추천 바로가기</a>
                </ul>
            </div>

            <div class="row carInfo">
                <div class="category">
                    <img src="../tents.jpg" alt="img" />
                </div>

                <ul>
                    <h3>입문자 혹은</h3>
                    <br />
                    <li>차박에 입문하시는 분</li>
                    <br />
                    <li>차박까지는 아니고 분위기만 즐기며 차크닉을 원하는 분</li>
                    <br />
                    <li>1인 차박을 하시는 분</li>
                    <br />
                    <a href="#carRecom2">차량 추천 바로가기</a>
                </ul>
            </div>

            <div class="row carInfo">
                <div class="category">
                    <img src="../tents.jpg" alt="img" />
                </div>

                <ul>
                    <h3>입문자 혹은</h3>
                    <br />
                    <li>차박에 입문하시는 분</li>
                    <br />
                    <li>차박까지는 아니고 분위기만 즐기며 차크닉을 원하는 분</li>
                    <br />
                    <li>1인 차박을 하시는 분</li>
                    <br />
                    <a href="#carRecom3">차량 추천 바로가기</a>
                </ul>
            </div>

            <div class="row carInfo">
                <div class="category">
                    <img src="../tents.jpg" alt="img" />
                </div>

                <ul>
                    <h3>입문자 혹은</h3>
                    <br />
                    <li>차박에 입문하시는 분</li>
                    <br />
                    <li>차박까지는 아니고 분위기만 즐기며 차크닉을 원하는 분</li>
                    <br />
                    <li>1인 차박을 하시는 분</li>
                    <br />
                    <a href="#carRecom4">차량 추천 바로가기</a>
                </ul>
            </div>
        </section>

        <section class="carRecom" id="carRecom1">
            <h2>유형</h2>
            <p>유형 설명 유형 설명유형 설명유형 설명유형 설명유형 설명유형 설명</p>
            <br />
            <a href="#about">유형 선택으로 돌아가기</a>
            <ul class="cards">
                <li class="card">
                    <img src="../camping-1.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-2.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-3.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-4.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-5.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-6.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
            </ul>
        </section>

        <section class="carRecom" id="carRecom2">
            <h2>유형</h2>
            <p>유형 설명 유형 설명유형 설명유형 설명유형 설명유형 설명유형 설명</p>
            <br />
            <a href="#about">유형 선택으로 돌아가기</a>
            <ul class="cards">
                <li class="card">
                    <img src="../camping-1.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-2.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-3.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-4.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-5.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-6.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
            </ul>
        </section>

        <section class="carRecom" id="carRecom3">
            <h2>유형</h2>
            <p>유형 설명 유형 설명유형 설명유형 설명유형 설명유형 설명유형 설명</p>
            <br />
            <a href="#about">유형 선택으로 돌아가기</a>
            <ul class="cards">
                <li class="card">
                    <img src="../camping-1.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-2.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-3.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-4.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-5.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-6.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
            </ul>
        </section>

        <section class="carRecom" id="carRecom4">
            <h2>유형</h2>
            <p>유형 설명 유형 설명유형 설명유형 설명유형 설명유형 설명유형 설명</p>
            <br />
            <a href="#about">유형 선택으로 돌아가기</a>
            <ul class="cards">
                <li class="card">
                    <img src="../camping-1.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-2.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-3.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-4.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-5.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
                <li class="card">
                    <img src="../camping-6.jpg" alt="img" />
                    <h3>유형 차</h3>
                    <p>차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명 차 설명</p>
                </li>
            </ul>
        </section>
    </body>
</html>
