<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="rent.css" />
        <title>Document</title>
    </head>
    <body>
        <!-- header -->

        <!-- main -->
        <ul class="prdList grid3 no-dot">
            <li id="anchorBoxId_306" class="xans-record-">
                <div class="thumbnail">
                    <div class="prdImg">
                        <a href="/product/캠프타운-어드벤쳐6-5인-권장/306/category/39/display/1/" name="anchorBoxName_306">
                            <img src="//www.starcamp.co.kr/web/product/medium/201903/f0df318e0c2c3ba28a79fd88cba770cf.jpg" id="eListPrdImage306_1" alt="캠프타운 어드벤쳐6 (5인 권장)" />
                        </a>
                    </div>
                </div>
                <div class="description">
                    <strong class="name">
                        <a href="/product/캠프타운-어드벤쳐6-5인-권장/306/category/39/display/1/" class="">
                            <span class="title displaynone"> <span style="font-size: 16px; color: #333333; font-weight: bold">상품명</span> :</span> <span style="font-size: 16px; color: #333333; font-weight: bold">캠프타운 어드벤쳐6 (5인 권장)</span>
                        </a>
                    </strong>
                    <ul class="xans-element- xans-product xans-product-listitem spec no-dot">
                        <li class="xans-record-">
                            <strong class="title"><span style="font-size: 14px; color: #333333; font-weight: bold">2박3일 대여요금</span> :</strong> <span style="font-size: 14px; color: #333333; font-weight: bold">35,000원</span><span id="span_product_tax_type_text" style=""> </span>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="anchorBoxId_306" class="xans-record-">
                <div class="thumbnail">
                    <div class="prdImg">
                        <a href="/product/캠프타운-어드벤쳐6-5인-권장/306/category/39/display/1/" name="anchorBoxName_306">
                            <img src="//www.starcamp.co.kr/web/product/medium/201903/f0df318e0c2c3ba28a79fd88cba770cf.jpg" id="eListPrdImage306_1" alt="캠프타운 어드벤쳐6 (5인 권장)" />
                        </a>
                    </div>
                </div>
                <div class="description">
                    <strong class="name">
                        <a href="/product/캠프타운-어드벤쳐6-5인-권장/306/category/39/display/1/" class="">
                            <span class="title displaynone"> <span style="font-size: 16px; color: #333333; font-weight: bold">상품명</span> :</span> <span style="font-size: 16px; color: #333333; font-weight: bold">캠프타운 어드벤쳐6 (5인 권장)</span>
                        </a>
                    </strong>
                    <ul class="xans-element- xans-product xans-product-listitem spec no-dot">
                        <li class="xans-record-">
                            <strong class="title"><span style="font-size: 14px; color: #333333; font-weight: bold">2박3일 대여요금</span> :</strong> <span style="font-size: 14px; color: #333333; font-weight: bold">35,000원</span><span id="span_product_tax_type_text" style=""> </span>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="anchorBoxId_306" class="xans-record-">
                <div class="thumbnail">
                    <div class="prdImg">
                        <a href="/product/캠프타운-어드벤쳐6-5인-권장/306/category/39/display/1/" name="anchorBoxName_306">
                            <img src="//www.starcamp.co.kr/web/product/medium/201903/f0df318e0c2c3ba28a79fd88cba770cf.jpg" id="eListPrdImage306_1" alt="캠프타운 어드벤쳐6 (5인 권장)" />
                        </a>
                    </div>
                </div>
                <div class="description">
                    <strong class="name">
                        <a href="/product/캠프타운-어드벤쳐6-5인-권장/306/category/39/display/1/" class="">
                            <span class="title displaynone"> <span style="font-size: 16px; color: #333333; font-weight: bold">상품명</span> :</span> <span style="font-size: 16px; color: #333333; font-weight: bold">캠프타운 어드벤쳐6 (5인 권장)</span>
                        </a>
                    </strong>
                    <ul class="xans-element- xans-product xans-product-listitem spec no-dot">
                        <li class="xans-record-">
                            <strong class="title"><span style="font-size: 14px; color: #333333; font-weight: bold">2박3일 대여요금</span> :</strong> <span style="font-size: 14px; color: #333333; font-weight: bold">35,000원</span><span id="span_product_tax_type_text" style=""> </span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- Footer -->
        <%-include('footer.ejs')%>
    </body>
</html>
