<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #pictures{
            display: flex;
        }
        .pictureChange{
           
        }
    </style>
</head>
<body>
    <div>리뷰페이지</div>
    <hr>
    <!-- user.name -->
    <div>???님의 캠핑스팟</div>
    <!-- 사진넘기기-->
    
    <div id = 'pictures'>
        <button class="pictureChange">왼쪽으로(세모로 바꿀것임)</button>
        <img style="width: 300px;" src="../static/bulguk.jpeg">
        <button class="pictureChange">오른쪽으로(세모로 바꿀것임)</button>
    </div>

    <!-- 본문 -->
    <div>
        본문
    </div>
    <!-- 댓글-->


</body>
</html>