<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 에딧</title>
</head>
<body>
    <header>헤더입니다</header>

    <form name="reviewEdit">
        <input name="title" type="text" placeholder="제목">
        <input name="title" type="text" placeholder="제목">
        <input name="title" type="text" placeholder="제목">
        <input name="title" type="text" placeholder="제목">
        <input name="title" type="text" placeholder="제목">
        <input name="title" type="text" placeholder="제목">

    <footer>푸터입니다.</footer>
</body>
</html>