<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>결제 경고문</h1>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">결제 유의사항</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">우리 책임 절대 안진다.... 알아서 잘 결제해라...</div>
                    <div class="modal-footer">
                        <input type="checkbox" id="cookie" />
                        <label for="cookie">오늘 하루 보지 않음</label>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const modal = new bootstrap.Modal('#staticBackdrop');
            console.log('<%= popup %>');
            // show: 수동으로 모달을 엶
            if ('<%= popup %>' !== 'hide') {
                modal.show();
            }

            function closeModal() {
                console.log('close modal');
                if (document.getElementById('cookie').checked) {
                    console.log(true);
                    axios({
                        method: 'POST',
                        url: '/setCookie',
                    }).then((res) => {
                        console.log('res', res.data);
                    });
                }
            }
        </script>
    </body>
</html>
