<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" href="../signin.css">
</head>

<body>
    <div class="login-container">
        <img src="" alt="로고">
        <form name="signin" class="login-form-container">
            <input type="text" name="useremail" placeholder="이메일을 입력해주세요" /><br />
            <input type="password" name="pw" placeholder="비밀번호를 입력해주세요" /><br />
            <button type="button" class="btn" onclick="signIn()">로그인</button>
            <br />
        </form>
        <div class="hr-style">
            <hr>
            <div>또는</div>
            <hr>
        </div>
        <button onclick="authKaKao()" class="btn kakao-btn"></button>
        <br>
        <div class="go-signup">
            <div>계정이 없으신가요?</div>
            <div class="go-signup-text" onclick="goSignup()">가입하기</div>
        </div>
    </div>

    <script>
        const kakaotoken = localStorage.getItem('kakaoToken');

        function goSignup() {
            location.href = '/user/signup'
        }
        //카카오톡 로그인
        function authKaKao() {
            if (kakaotoken !== null) {
                alert('이미 로그인된 사용자입니다');
                location.href = '/';
            }
            document.location.href = '/user/signin/kakao';
        }

        //사용자 로그인
        const form = document.forms['signin'];

        async function signIn() {
            if (kakaotoken !== null) {
                alert('이미 로그인된 사용자입니다');
                location.href = '/';
            }
            const res = await axios({
                method: 'POST',
                url: '/user/signin',
                data: {
                    useremail: form.useremail.value,
                    pw: form.pw.value,
                },
            });
            if (res.data.result) {
                alert('로그인에 성공했습니다');
                location.href = '/';
            } else {
                alert('로그인에 실패했습니다');
            }
        }
    </script>
</body>

</html>