<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ijdya8hea0"></script>

    <style>
        .location-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .location-select {
            width: 400px;
            display: flex;
            justify-content: space-evenly;
        }

        .location-select button {
            border: none;
            background-color: transparent;
        }

        .location-select button:hover {
            cursor: pointer;
        }

        .map {
            width: 700px;
            height: 350px;
            margin-top: 15px;
        }

        .map-container {
            display: flex;
            justify-content: center;
        }

        .spot {
            width: 200px;
            height: 270px;
            border: 2px;
            border-style: solid;
        }

        .spot-container {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
        }

        .spot div {
            display: flex;
            justify-content: center;
        }

        .spot-image {
            width: 180px;
            height: 100px;
            margin: 10px 0px;
        }

        .spot-name {
            font-size: 13px;
            margin-top: 10px;
        }

        .spot-information {
            height: 60px;
            font-size: 12px;
            margin: 5px 10px 10px;
        }

        .spot-address {
            font-size: 12px;
            margin: 0px 10px 5px;
        }

        .chat-button {
            font-size: 12px;
        }
    </style>
</head>

<body>
    <!-- 지역선택 -->
    <div class="location-container">
        <div class="location-select">
            <button type="button" value="경기">경기</button>
            <button type="button" value="강원">강원</button>
            <button type="button" value="충청">충청</button>
            <button type="button" value="경상">경상</button>
            <button type="button" value="전라">전라</button>
            <button type="button" value="제주">제주</button>
        </div>
    </div>

    <!-- 지도 -->
    <div class="map-container">
        <div class="map" id="map"></div>
    </div>

    <hr>

    <!-- 스팟리스트 -->
    <div class="spot-container">


        <script>
            //지도 초기 기준점 위치 설정
            const mapOptions = {
                center: new naver.maps.LatLng(36.626316, 127.936296),
                zoom: 6
            }

            var map = new naver.maps.Map('map', mapOptions);

            var spotContainer = document.querySelector('.spot-container')


            // 해당 지역버튼 클릭 시 지도 기준점 위치 이동
            var locationButton = document.querySelectorAll('.location-select > button')
            locationButton.forEach(button => {
                button.addEventListener('click', async () => {
                    const res = await axios({
                        method: 'POST',
                        url: '/spot/location',
                        data: {
                            location: button.value
                        }
                    })

                    console.log(res)
                    mapOptions.center = new naver.maps.LatLng(res.data.location.lon, res.data.location.lat)
                    mapOptions.zoom = 7
                    map = new naver.maps.Map('map', mapOptions);


                    //해당 지역의 차박 스팟 마커찍기
                    var marker = []
                    for (let i = 0; i < res.data.spot.length; i++) {
                        marker[i] = new naver.maps.Marker({
                            map: map,
                            position: new naver.maps.LatLng(res.data.spot[i].lon, res.data.spot[i].lat)
                        })
                    }

                    //스팟리스트 출력
                    spotContainer.textContent = ''
                    for (let i = 0; i < res.data.spot.length; i++) {
                        spotContainer.innerHTML += `
                            <div class="spot">
                                <div class="spot-name">${res.data.spot[i].spotName}</div>
                                    <div>
                                    <img src="${res.data.spot[i].image}" class="spot-image">
                                    </div>
                                <div class="spot-address">${res.data.spot[i].address}</div>
                                <div class="spot-information">${res.data.spot[i].information}</div>
                                <div>
                                    <button class="chat-button">채팅</button>
                                </div>
                            </div>
                            `

                    }



                    //마커 클릭 이벤트
                    // naver.maps.Event.addListener(marker[i], 'click', () => {

                    // })
                })
            })





        </script>
</body>

</html>