@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f2f2f2;
}

section,
div,
p,
h2,
h3,
h5,
li,
.carInfo ul a {
    font-family: 'Dovemayo_gothic';
}

/* =================== main section =================== */

#recomMain {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url('../recomMain.jpg');
    background-position: center 65%;
    background-size: cover;
}

#recomMain .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#recomMain .content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

#recomMain .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#recomMain .content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-family: 'Dovemayo_gothic';
}

#recomMain .content a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}

/* =================== section - about =================== */

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
}

#about h2 {
    font-size: 2rem;
    font-family: 'Dovemayo_gothic';
}

#about > p {
    text-align: center;
}

#about {
    margin: 0 auto;
    max-width: 1200px;
}

#aboutH2 {
    font-family: 'Dovemayo_gothic';
    text-align: center;
}

#about .carInfo {
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
}

#about .carInfo .category {
    width: auto;
    position: relative;
    justify-content: start;
    /* left: 10px; */
}

#about .carInfo ul {
    width: auto;
    position: relative;
    /* justify-content: end; */
    /* justify-items: center; */
    /* align-items: center; */
    list-style-type: none;
    font-family: 'Dovemayo_gothic';
}

/* .carInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.category,
ul {
    width: 100%;
} */

#cateli {
    color: #43604d;
}

#aboutA {
    font-size: 17px;
    padding: 9px 20px;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

#aboutA:hover {
    color: #43604d;
    background: rgba(255, 255, 255, 0.3);
}

#about h3 {
    margin: 30px 0 10px;
}

#about .category img {
    background: #fff;
    padding: 20px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    width: 300px;
    height: auto;
}

.about .row {
    padding: 0 10px;
}

/* =================== section - category =================== */

#carRecomA {
    display: flex;
    justify-content: center;
}

#carRecom1,
#carRecom3 {
    background-color: #a8bbaf;
}

.carRecom .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}

.carRecom .cards .card {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
}

.carRecom .cards .card {
    padding: 0 0 20px;
}

.carRecom .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}

.carRecom .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
}

.carRecom .cards .card p {
    padding: 0 15px;
    margin-top: 5px;
}

#carRecomA {
    font-size: 17px;
    padding: 9px 20px;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-family: 'Dovemayo_gothic';
}

#categoryDiv1 {
    display: flex;
    justify-content: center;
}

#categoryDiv2 {
    display: flex;
    justify-content: center;
}

#carRecomA:hover {
    color: #43604d;
    background: rgba(255, 255, 255, 0.3);
}

/* @media screen and (max-width: 1050px) {
    .carInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .category,
    ul {
        width: 100%;
    }
} */
@media screen and (max-width: 965px) {
    .carInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 860px) {
    section > p {
        text-align: center;
    }

    section .cards .card {
        width: calc(100% / 2);
        margin-bottom: 30px;
    }

    #recomMain .content h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    #recomMain .content .text {
        font-size: 17px;
    }

    .content a {
        font-size: 17px;
        padding: 9px 20px;
    }
    /*    =========================     */

    .about h3 {
        margin: 30px 0 10px;
    }
}

@media screen and (max-width: 560px) {
    .carRecom .cards .card {
        width: 100%;
        margin-bottom: 30px;
    }

    section .cards .card {
        width: 100%;
        margin-bottom: 30px;
    }
}
