@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f2f2f2;
}

.recomMain {
    height: 100vh;
    width: 100%;
    position: relative;
    /* background: url("images/home-bg.jpg"); */
    background-position: center 65%;
    background-size: cover;
}

.recomMain::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.recomMain .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recomMain .content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

.recomMain .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.recomMain .content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.recomMain .content a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}

.content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.content a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
}

section h2 {
    font-size: 2rem;
}

section > p {
    text-align: center;
}

section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}

section.about {
    margin: 0 auto;
    max-width: 1200px;
}

.about .carInfo {
    margin-top: 30px;
    justify-content: end;
}

.about .carInfo ul {
    justify-items: center;
}

.about .carInfo ul a {
    font-size: 17px;
    padding: 9px 20px;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.about h3 {
    margin: 30px 0 10px;
}

section .category img {
    background: #fff;
    padding: 20px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    width: 50%;
    height: auto;
}

section .cards .card {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
}

.carRecom .cards .card {
    padding: 0 0 20px;
}

.services .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}

.carRecom .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
}

.cards .card p {
    padding: 0 15px;
    margin-top: 5px;
}

.carRecom a {
    font-size: 17px;
    padding: 9px 20px;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

/* .about .row {
  padding: 0 10px;
} */

@media screen and (max-width: 1050px) {
    .category {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about .carInfo {
        margin-top: 30px;
        justify-content: center;
    }

    .about .carInfo ul {
        justify-items: center;
    }
}

@media screen and (max-width: 860px) {
    section > p {
        text-align: center;
    }

    section .cards .card {
        width: calc(100% / 2 - 15px);
        margin-bottom: 30px;
    }

    .recomMain .content h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .recomMain .content .text {
        font-size: 17px;
    }

    .content a {
        font-size: 17px;
        padding: 9px 20px;
    }
    /*    =========================     */

    .about h3 {
        margin: 30px 0 10px;
    }
}

@media screen and (max-width: 560px) {
    section .cards .card {
        width: 100%;
        margin-bottom: 30px;
    }
}
