.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-select {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.location-select button {
    border: none;
    background-color: transparent;
}

.location-select button:hover {
    cursor: pointer;
}

.map {
    width: 700px;
    height: 350px;
    margin-top: 15px;
}

.map-container {
    display: flex;
    justify-content: center;
}

/* .spot {
    width: 200px;
    height: 270px;
    border: 2px;
    border-style: solid;
}

.spot-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.spot div {
    display: flex;
    justify-content: center;
}

.spot-image {
    width: 180px;
    height: 100px;
    margin: 10px 0px;
}

.spot-name {
    font-size: 13px;
    margin-top: 10px;
}

.spot-information {
    height: 60px;
    font-size: 12px;
    margin: 5px 10px 10px;
}

.spot-address {
    font-size: 12px;
    margin: 0px 10px 5px;
}

.chat-button {
    font-size: 12px;
} */

/* -------------스팟 목록-------------- */

.wrapper {
    display: flex;
    max-width: 1080px;
    width: 100%;
    height: 400px;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper i.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}
i.button:active {
    transform: scale(0.94) translateY(-50%);
}
i#prev {
    left: 25px;
}
i#next {
    right: 25px;
}
.image-container {
    height: 320px;
    max-width: 900px;
    width: 100%;
    overflow: hidden;
}
.image-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}
.carousel .spot {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    border: 10px solid #fff;
    object-fit: cover;
}

.carousel .spot img {
    height: 150px;
}

/* .carousel .spot {
    width: 300px;
    height: 100%;
    object-fit: cover;
    justify-content: space-between;
} */

/* -------------채팅방----------- css */
#chatroom {
    width: 400px;
    height: 700px;
    position: absolute;
    background: #a0a0a0;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    overflow: auto;
}
#chat {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#chat input {
    width: 80%;
}
#exit {
    position: relative;
    justify-content: center;
}
.my-chat {
    display: flex;
    justify-content: end;
    padding: 2px 0px;
}
.my-chat p {
    margin: 0;
    padding: 10px;
    background: rgb(255, 255, 194);
    border-radius: 10px;
    margin-right: 10px;
}
.other-chat {
    display: flex;
    justify-content: start;
    padding: 2px 0px;
}
.other-chat p {
    margin: 0;
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-left: 10px;
}
.notice {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(99, 24, 24);
}
.notice p {
    margin: 0;
}
.secret-chat p {
    background: rgb(255, 201, 210);
}
